.posts-container {
    width: 55%;
    float: left;
}

// // .vl {
// //     border-left: 2px dashed grey;
// //     height: 500px;
// }

.page-content {
    h4 {
        margin: 0;
        padding: 0;
    }
}

.article-conatiner {

}

@import 'post';