.posts-container {
    width: 55%;
    float: left;
}

.page-content {
    h4 {
        margin: 0;
        padding: 0;
    }
}

.article-container {
    &::before {
        position: absolute;
        left: -30px;
        content: "";
        border-left: 2px dashed rgba(41, 42, 43, 0.5);
        height: 100%;
    }

    hr {
        margin: 0;
        padding: 0;
    }
    .post-categories  {
     
    }
    .article-date {
        text-align: right;
        margin: 0;
        padding: 0;
    }
}

@import 'post';