.stf-post {
    background-color: #FFFFFF;

    .link {
        display: flex;
        
        @media screen and (max-width: $mobile) {
            flex-direction: column;
        }
        
        img  {
            max-height: 250px;
            width: 50%;
            border-radius: 10px 0 0 10px;
        }
        .text {
            width: 50%;
    
            @media screen and (max-width: $mobile) {
                padding: .3em 1em;
            }
        }
        .date {
            font-weight: bold;
            font-family: $font__averia;
        }
        .category {
            padding: 0;
            color: #2E2EEE;
            font-weight: bold;
            float: right;
        }
    }
}