.single {
    .site-content {
        .post-navigation,
        .entry-header {
            a {
                font-weight: 700;
                text-decoration: none;
                color: #000;
    
                &:hover {
                    border-bottom: 3px solid $color__interactive;
                }
            }
        }
        .entry-header {
            margin-top: 2em;
            text-align: center;
        }
        .entry {
            .image {
                border-radius: 5px 5px 0 0;
                height: 600px;
                overflow: hidden;

                img {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    object-fit: cover;
                    min-height: 100%;
                    width: 100%;
                }
            }
            .event {
                border-radius: 5px;
                padding: 1em 2em;
                display: flex;
                background-color: rgb(238, 238, 238);

                .text {
                    flex: 1;
                    padding-right: 1em;
                }
                .info {
                    flex: 2;
                    padding-left: 1em;
    
                    h5 {
                        text-align: center;
                        margin-top: 0;
                    }
                }
            }
        }
        ul {
            padding: 0;
            list-style-type: none;
            column-count: 3;
            column-gap: 0;

            li {
                break-inside: avoid;
                padding: 5px;

                img {
                    border-radius: 5px;                    
                    width: 100%;
                }
            }
        }
    }
}