# Wordpress installation
wp-admin
wp-includes
.htaccess
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post
wp-config-sample.php
wp-config.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Local environment
logs

# Deployment script
deploy.sh

# Misc
wp-content/upgrade
wp-content/uploads
wp-content/wflogs

# Themes
wp-content/themes/sverigestamfagel/twentynineteen
wp-content/themes/sverigestamfagel/dist
wp-content/themes/sverigestamfagel/node_modules
wp-content/themes/sverigestamfagel/src/sass/maps/style.css.map

# Cache
wp-content/cache
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
