# Wordpress installation
wp-admin
wp-includes
.htaccess
license.txt
readme.html
*.php

# Misc
wp-content/languages
wp-content/upgrade
wp-content/uploads
wp-content/themes/*

# Theme
!wp-content/themes/sverigestamfagel
wp-content/themes/sverigestamfagel/dist
wp-content/themes/sverigestamfagel/style.css
wp-content/themes/sverigestamfagel/src/sass/maps
wp-content/themes/sverigestamfagel/node_modules