/*--------------------------------------------------------------
## Global layouts
--------------------------------------------------------------*/
@import "../common/layout/global";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
## Front page
--------------------------------------------------------------*/
@import "pages/hem";

/*--------------------------------------------------------------
## Single
--------------------------------------------------------------*/
@import "single/single";

/*--------------------------------------------------------------
## Slider
--------------------------------------------------------------*/
@import "slider/slider";

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
@import "posts/posts";

/*--------------------------------------------------------------
## Bli medlem
--------------------------------------------------------------*/
@import "pages/bli-medlem";

/*--------------------------------------------------------------
## Om oss
--------------------------------------------------------------*/
@import "pages/om-oss/om-oss";

/*--------------------------------------------------------------
## Instagram
--------------------------------------------------------------*/
@import "inc/instagram";

.contact-form {
    position: relative;
    img {
        float: left;
        position: absolute;
        left: 1000px;
        top: 0px;
        z-index: 1000;
    }
}