/*--------------------------------------------------------------
## Global layouts
--------------------------------------------------------------*/
@import "../common/layout/global";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
## Front page
--------------------------------------------------------------*/
@import "pages/hem";

/*--------------------------------------------------------------
## Single
--------------------------------------------------------------*/
@import "single/single";

/*--------------------------------------------------------------
## Slider
--------------------------------------------------------------*/
@import "slider/slider";

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
@import "posts/posts";

/*--------------------------------------------------------------
## Bli medlem
--------------------------------------------------------------*/
@import "pages/bli-medlem";

/*--------------------------------------------------------------
## Om oss
--------------------------------------------------------------*/
@import "pages/om-oss/om-oss";

/*--------------------------------------------------------------
## Instagram
--------------------------------------------------------------*/
@import "inc/instagram";

.contact-form {
	display: flex;

	img {
		margin-left: 50px;
		object-fit: contain;
	}
}
