&.formaner {
    .magazine {
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
       
        img {       
            width: 22%;
        }
        .magazine-text {
            padding-left: 2em;
            h2 {
                margin: 0;
            }
        }
    }
    
    .rebates {
        margin-bottom: 3em;
        padding: 3em;
        background-color: rgba(55, 171, 113, 0.38);
        text-align: center;
    
        h2 {
            margin-top: 0;
        }
        
    
        .animail {
            width: 15%;
            border-radius: 40px;
        }
    
        .top-rebates {
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
    
            p {
                padding-left: 2em;
                padding-right: 2em;
            }
        }
    
        .sveland {
            width: 20%;
            border-radius: 20px;
        }
        .rebates-2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-items: flex-start;
            padding-top: 3em;
    
            p {
                padding: 0 2em;
            }
        }
        .zoosajten {
            width: 20%;
            border-radius: 20px;        
        }
    }
    
    .rings {
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
    
        .rings-content {
            padding-left: 2em;
        }
    }
    
    .bird-register {
        text-align: center;
    }
}