/*--------------------------------------------------------------
## Global layouts
--------------------------------------------------------------*/
@import "../layout/global";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/
@import "sidebar/sidebar";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "front-page/front-page";

/*--------------------------------------------------------------
## Single
--------------------------------------------------------------*/
@import "single/single";

/*--------------------------------------------------------------
## Slider
--------------------------------------------------------------*/
@import "slider/slider";

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
@import "posts/posts";

/*--------------------------------------------------------------
## Bli medlem
--------------------------------------------------------------*/
@import "bli-medlem/bli-medlem";

/*--------------------------------------------------------------
## Arkiv
--------------------------------------------------------------*/
@import "archive/archive";

/*--------------------------------------------------------------
## Föreningen
--------------------------------------------------------------*/
@import "foreningen/foreningen";


    .about-stf {
        img {
            width: 50%;
            float: left;
            margin-top: 30px;
            padding: 2em;
            max-height: 100%;
        }
    }
    .about-img {
        width: 88vw;

        img {
            float: right;
            width: 50%;
            margin-top: 30px;
            padding: 2em;
            max-height: 100%;
        }
    }
    .about-text {
        float: right;
        width: 50%;
        padding: 0 2em;
    }
    .about-content {
        float: left;
        width: 50%;
        padding: 0 2em;
    }
     .page-content {
         width: 100%;
         text-align: center;
         @import "extra/instagram";
     }