/*--------------------------------------------------------------
## Global layouts
--------------------------------------------------------------*/
@import "../layout/global";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/
@import "sidebar/sidebar";

/*--------------------------------------------------------------
## Front page
--------------------------------------------------------------*/
@import "front-page/front-page";

/*--------------------------------------------------------------
## Single
--------------------------------------------------------------*/
@import "single/single";

/*--------------------------------------------------------------
## Slider
--------------------------------------------------------------*/
@import "slider/slider";

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
@import "posts/posts";

/*--------------------------------------------------------------
## Bli medlem
--------------------------------------------------------------*/
@import "bli-medlem/bli-medlem";

/*--------------------------------------------------------------
## Arkiv
--------------------------------------------------------------*/
@import "archive/archive";

/*--------------------------------------------------------------
## Föreningen
--------------------------------------------------------------*/
@import "about/about";

// styrelsen
.board-members {
    .member {
        display: inline-block;           
            padding: 2em;

            img {
                width: 200px;
            }
    }
}