.home {
    .site-content {
        margin-top: 2em;
        margin-bottom: 2em;

        .entry-content {
            .top-info {
                max-height: 500px;
                display: flex;

                .container {
                    margin-left: 1em;
                    display: flex;
                    flex-direction: column;
                    flex: 50%;

                    div {
                        padding: 0 2em 0;
                        flex: 50%; 

                        &:first-child {
                            background-color: $color__interactive;
                            margin-bottom: 1em;
                        }
                        &:last-child {
                            margin-top: 1em;
                            background-color: #F9EA09;
                        }
                        h2 {
                            margin: 0;
                        }
                    }
                }
            }
            hr {
                margin: 3em 0;
                height: 2px;
                background-color: rgba(0, 0, 0, 0.1)
            }
            .page-content {
                width: 100%;
                text-align: center;
                @import "instagram";
            }
        }
    }
}