.main-navigation {
	display: block;
	font-family: $font__sans;
	font-weight: 400;
	clear: left;
	background-color: $color__skin;

	@media screen and (max-width: $mobile) {
		z-index: 100;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
	}

	@import 'mobile-navbar'; // .mobile-navbar

	&.stick {
		z-index: 100;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	.menu-navigation-container {
		@media screen and (min-width: $mobile) {
			max-width: $page;
			margin: auto;
		}
	}

	&.toggled {
		.menu {
			display: flex;			
		}
	}

	.menu {
		padding: 0;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;

		@media screen and (max-width: $mobile) {
			display: none;
			height: calc(100vh - 60px);
			background-color: $color__skin;
			flex-direction: column;
			justify-content: center;
			padding-bottom: 60px;
		}

		a {
			transition: background-color 0.15s ease-out;
			display: inline-block;
			width: 100%;
			padding: 1em 1.5em;
			text-decoration: none;
			color: #fff;

			@media screen and (max-width: $mobile) {
				text-align: center;
				padding: 1.5em 0;
			}

			&:hover {
				background-color: #41CA86;
			}
		}

		.current-menu-item {
			background-color: #41CA86;
		}

		.cta {
			@media screen and (min-width: $mobile) {
				margin-left: 1.5em;
			}
			a {
				background-color: #41CA86;
				border-radius: 5px;
				padding: 0.5em 1.5em;
				text-transform: uppercase;
				font-size: 18px;

				@media screen and (min-width: $mobile) {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}

				&:hover {
					text-decoration: none;
					opacity: 0.8;
				}
			}
		}
	}
}