.top-header {
    max-width: $size__page;
    margin: 0 auto;
    padding: 1em 0;
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    .site-branding {
        .custom-logo-link {
            max-width: 100px;
            display: inline-block;
            margin-right: 1em;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            img {
                height: 100%;
            }
        }
        .text {
            display: inline-block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            vertical-align: top;
            .site-title {
                margin: 0;
                padding: 0;
                font-weight: 900;
                line-height: 1em;
                a {
                    color: #000;
                }
            }
            .site-description {
                margin: 0;
                padding-top: 2%;
                font-style: italic;
                font-weight: 100;
                display: inline-block;
            }
        }
    }
    .contact-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px; 
        a {
            color: black;
            position: relative;
            span {
                position: absolute;
                top: 0;
                left: -40px;
                font-size: 30px;
                background-color: $color__skin;
                padding: 6px;
                border-radius: 4px;
                color: white;
                
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .top-header {
        .site-branding {
            .text {
                display: inline-block;
                .site-title {
                    @include font-size(2.5);
                }
                .site-description {
                    @include font-size(1.2);
                }
            }
        }
    }
}

@media screen and (max-width: 1160px) {
    .top-header {
        .site-branding {
            .text {
                display: inline-block;
                .site-title {
                    @include font-size(2.0);
                }
                .site-description {
                    @include font-size(1);
                }
            }
        }
        .contact-header {
            a {
                @include font-size(0.8);
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .top-header {
        .contact-header {
            a {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 690px) {
    .top-header {
        display: none;
    }
}