.archive, .page-template-archive {

    .title {
        padding: 0 100px;
    }

    // Main-content
    .posts-container {
        float: left;

        @media screen and (min-width: $mobile) {
            width: 70%;
            padding: 0 100px;
        }

        .archive-widget:not(:last-child) {
            border-bottom: 1px solid grey;
        }
        .posts-navigation {
            text-align: center;
            padding: 50px 0;
            font-size: 24px;
        }
    }
    
    // Sidebar
    .side-archive {
        width: 30%;
        background-color: #fff;
        float: right;
        padding: 0 50px;
        border: 1px solid rgba($color: #000, $alpha: 0.2);

        @media screen and (min-width: $mobile) {
            margin-top: 50px;
        }
        @media screen and (max-width: $mobile) {
            width: 100%;
        }

        h3 {
            font-size: 30px;
        }
    
        .search-form {
            overflow: auto;
            margin: 1.5em 0 1.5em;

            .search-field {
                width: 70%;
                float: left;
            }

            .search-submit {
                float: left;
                width: 30%;
                background-color: #41CA86;
				border-radius: 5px;
				text-transform: uppercase;
                font-size: 18px;
                color: white;
                border: none;
                vertical-align: middle;
            }
        }
    }
}