.archive, .page-template-archive {

    .title {
        padding: 0 100px;
    }

    // Main-content
    .posts-container {
        float: left;

        @media screen and (min-width: $mobile) {
            width: 70%;
            padding: 0 100px;
        }

        .stf-post {
            margin-top: 20px;
        }

        .archive-widget:not(:last-child) {
            border-bottom: 1px solid grey;
        }
        .posts-navigation {
            text-align: center;
            padding: 50px 0;
            font-size: 24px;
        }
    }
}