.site-footer {
	position: relative;
	font-size: .8em;
	font-family: $font__averia;
	color: #fff;
	background-color: #08082E;
	text-align: center;
	a {
		transition: color 0.15s ease-out;
		&:focus,
		&:hover {
			color: #41CA86;
		}
		color: #fff;
		text-decoration: none;
	}
	.container {
		padding: 5em 0;
		max-width: $size__page;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.social-menu {
		width: 180px;
		ul {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				width: 100%;
			}
		}
		.fa::before {
			pointer-events: none;
			margin-top: 8px;
			font-size: 2em;
			float: left;
			width: 30px;
		}
		a {
			padding: .5em 0 .5em 1.2em;
			font-family: $font__averia;
			font-size: 1.5em;
			display: block;
			padding: .5em 1em;
			text-decoration: none;
		}
	}
	.site-info {
		font-family: Lato;
		font-size: 12px;
		color: #8A8A8A;
		padding: 1.5em 0;
		background-color: black;
	}
	.donate {
		font-size: 1.4em;
	}
	.email {
		order: 1;
		text-align: right;
		font-size: 1.4em;
		a {
			position: relative;			
			span {
				position: absolute;
				left: -40px;
				font-size: 30px;
				margin-right: 10px;
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.site-footer {
		.container {
			padding: 1em;
			display: block;
			>* {
				margin: 10px;
			}
			.social-menu {
				@include font-size(0.7);
			}
			.email {
				@include font-size(1);
			}
		}
	}
}