&.styrelsen {
    .header {
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
            margin: auto;
            width: 50%;
        }
    }
    .board-members {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        .member {
            min-width: calc(100% / 3);
            padding: 2em;
    
            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
                display: block;
                margin: auto;
            }
            .member-info {
                text-align: center;
            }
        }
    }
}