.c-article {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 50px 20px;

	:last-child {
		margin-bottom: 0;
	}

	&__sidebar {
		width: 30%;
		padding: 20px 40px;
		background-color: #fff;
		border: 1px solid #eee;

		@media screen and (max-width: 768px) {
			display: none;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			.current {
				text-decoration: underline;
			}
		}
	}

	&__content {
		width: 100%;
		padding: 30px 25px 40px;
		background-color: #fff;
		border: 1px solid #eee;

		@media screen and (min-width: 768px) {
			padding: 30px 50px 60px;
			width: 70%;
			margin-left: 20px;
		}

		h1 {
			text-align: center;
			margin-top: 0;

			@media screen and (max-width: 768px) {
				font-size: 40px;
				line-height: 45px;
			}
		}
	}
}
