.page.bli-medlem {
    article {
        background-color: #E5E5E5;
        padding: 30px;
        border-radius: 10px;

        @media screen and (min-width: $mobile) {
			margin: 50px 0;
			padding: 20px;
        }

        .container {
            margin: auto;

            @media screen and (min-width: $mobile) {
                width: 50%;
            }

            h4 {
                margin-top: 0;
                margin-bottom: 20px;
                text-align: center;

                @media screen and (max-width: $mobile) {
                    font-size: 24px;
                }

                &:nth-of-type(2), &:nth-of-type(3) {
                    display: none;
                }
            }

            .onboard-slider {
                overflow: hidden;
                width: 100%;

                .holder {
					display: flex;
					align-items: center;
                    transition: left .4s ease-out;
                    position: relative;
                    left: 0;
                    overflow: auto;
                    width: 1200px;

                    >div {
                        float: left;
                        width: 100%;
                        height: 100%;
                    }

                    .info {
						position: relative;
						margin: 30px 0;

                        &:before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            height: 65%;
                            border-left: 6px dashed #C4C4C4;
                            left: 47px;

                            @media screen and (max-width: $mobile) {
                                left: 28px;
                            }
                        }

                        .step {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: auto;
                            margin: 80px 0;

                            @media screen and (max-width: $mobile) {
                                margin: 25px 0;
                            }

                            &:first-child {
                                margin-top: 0;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }

                            div {
                                float: left;
                                position: relative;
                                background-color: #C4C4C4;
                                min-height: 100px;
                                min-width: 100px;
                                border-radius: 50%;

                                @media screen and (max-width: $mobile) {
                                    min-height: 60px;
                                    min-width: 60px;
                                }

                                .icon {
                                    @include font-size(2);
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                }
                            }
                            p {
                                width: 100%;
                                font-size: 20px;
                                margin: 0 0 0 30px;
                                float: left;

                                @media screen and (max-width: $mobile) {
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .form {
						p {
							margin-top: 0;
							margin-bottom: 5px;
							font-size: 14px;
							line-height: 10px;

							&.acceptance {
								line-height: 24px;
								display: flex;
								align-items: center;

								.text {
									margin-left: 5px;
								}
							}
						}

                        .wpcf7 {
							margin: 0 auto;

							@media screen and (min-width: $mobile) {
								width: 70%;
							}

							input {
								&[type=text],
								&[type=email] {
									width: 100%;
								}

								&[type=checkbox] {
									width: 20px;
									height: 20px;
									margin: 0;
									margin-right: 5px;
								}
							}

							textarea {
								resize: none;
							}

							input[type=submit] {
								display: block;
								margin: auto;
								width: auto;
								transition: box-shadow .2s ease, top .2s ease;
								top: 0;
								position: relative;
								font-size: 28px;
								padding: 10px 20px;
								font-family: 'Averia Sans Libre';
								background-color: $color__interactive;
								color: white;
								border: none;
								border-radius: 10px;
								box-shadow: 0 8px 0 0 darken($color__interactive, 5%);

								&:disabled {
									background-color: #929292;
									box-shadow: 0 8px 0 0 darken(#929292, 5%);
								}

								&:active {
									top: 4px;
									box-shadow: 0 4px 0 0 darken($color__interactive, 5%);
								}
							}

							.postaddress {
								margin-left: 15px;
							}
                        }
                    }

                    .confirmation {
                        .content {
                            width: 65%;
							margin: auto;

							.qr-code {
								display: block;
								width: 70%;
								margin: 0 auto 25px;
							}
                        }
                    }
                }
            }
            .meta {
                text-align: center;
                margin-bottom: 50px;

                hr {
                    margin: 20px 0;
                }

                a {
                    color: #000;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
            .buttons {
                text-align: center;

                button {
                    transition:
                        box-shadow .2s ease, top .2s ease;
                    top: 0;
                    position: relative;
                    display: inline-block;
                    font-family: 'Averia Sans Libre';
                    color: white;
                    border: none;
					border-radius: 10px;

                    &:active {
                        top: 4px;
                    }

                    &.begin {
                        background-color: $color__interactive;
                        box-shadow: 0 8px 0 0 darken($color__interactive, 5%);
                        font-size: 28px;
                        padding: 10px 20px;

                        &:active {
                            top: 4px;
                            box-shadow: 0 4px 0 0 darken($color__interactive, 5%);
                        }
                    }

                    &.previous {
                        display: none;
                        background-color: #929292;
                        box-shadow: 0 8px 0 0 darken(#929292, 5%);
                        font-size: 22px;
                        padding: 8px 16px;

                        &:active {
                            top: 4px;
                            box-shadow: 0 4px 0 0 darken(#929292, 5%);
                        }
                    }
                }
            }
            .slide-navigation {
                margin-top: 50px;
                display: flex;
                justify-content: center;

                div {
                    margin: 0 5px;
                    border-radius: 50%;
                    background-color: #C4C4C4;
                    width: 20px;
                    height: 20px;

                    &:not(:last-child) {
                        cursor: pointer;
                    }

                    &.active {
                        background-color: #6E6E6E;
                    }
                }
            }
        }
    }
}
