.page-kontakt {

    .contact-form {
        img {
            display: overlay;
        }
    }

    form {
        width: 40%;
        margin: 50px auto 0;
    }

    input[type=text],
    input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    textarea {
        display: block;
        padding: 12px 20px;
        margin: 8px 0;
    }

    input[type=submit] {
        background-color: #41CA86;
        border-radius: 5px;
        padding: 0.5em 1.5em;
        text-transform: uppercase;
        font-size: 18px;
        color: white;
        border: none;
        vertical-align: middle;
    }
    img {
        position: relative;
        img {
            float: left;
            position: absolute;
            left: 1000px;
            top: 0px;
            z-index: 1000;
        }
    }
}
