.main-navigation {
	display: block;
	font-family: $font__sans;
	font-weight: 400;
	clear: left;
	background-color: $color__skin;
	ul {
		padding: 0;
		position: relative;
		display: none;
		list-style: none;
		margin: 0;

		a {
			transition: background-color 0.2s ease-out;
			&:hover {
				background-color: #41CA86;
			}
		}

		.cta {
			margin-left: 1.5em;
			a {
				margin-top: 12.5px;
				background-color: #41CA86;
				border-radius: 5px;
				padding: 0.5em 1em;
				text-transform: uppercase;
				font-size: 18px;
				&:hover {
					text-decoration: none;
				}
			}
		}

		ul {
			display: none;
			top: 1.5em;
			z-index: 99999;
			ul {
				top: 0;
			}
			li {
				padding-left: 1em;
				&:hover>ul,
				&.focus>ul {
					left: 100%;
				}
			}
			a {
				width: 200px;
			}
		}
		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}
	li {
		position: relative;
	}
	a {
		display: inline-block;
		width: 100%;
		padding: 1em 1.5em;
		text-decoration: none;
		color: #fff;
	}
	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a,
	.current-menu-ancestor>a {}
	.menu-item-has-children,
	.page_item_has_children {
		min-width: 218px;
	}
	.menu-item-has-children>a,
	.page_item_has_children>a {
		padding-right: 2em;
	}
}

button.dropdown-toggle {
	position: absolute;
	right: 0;
	border: none;
	background: inherit;
	color: white;
	line-height: 1.5em;
	padding: .4em 1em .4em .5em;
}

.menu-toggle {
	display: block;
	padding: .6em .8em;
	text-transform: uppercase;
	color: white;
	border: 1px solid hsla(0, 0%, 100%, .3);
}


/* Toggle small menu and children on */

.toggled-on ul,
.sub-menu.toggled-on {
	display: block;
}

.menu-toggle {
	display: none;
}

.main-navigation {
	.menu-navigation-container {
		max-width: $size__page;
		margin: auto;
	}
	.menu-item-has-children>a,
	.page_item_has_children>a {
		padding-right: 2em;
		background: hsla(0, 0%, 100%, .1);
	}
	ul {
		display: block;
		display: flex;
		flex-wrap: wrap;
		ul {
			flex-direction: column;
			background: hsla(0, 0%, 100%, .1);
			margin-left: 0;
			li {
				padding-left: 0;
				a {
					width: 218px;
					background: none;
				}
			}
		}
	}
}

@media screen and (max-width: 690px) {
	.main-navigation {
		.menu-toggle {
			display: block;
		}
		.menu-navigation-container {
			display: none;
		}
	}
}