.flex-caption { 
  background: tomato; 
  color: white;
  position: absolute;
  bottom: 0;
  padding: 1em;
  width: 50vh;
  height: 50vh; 
}

.flexslider .slides img {
  width: auto;
}

.flex-control-nav {
  width: 50%;
}
