.posts-container {
    @media screen and (min-width: $mobile) {
        width: 55%;
        float: left;
    }
}

.page-content {
    h4 {
        margin: 0;
        padding: 0;
    }
}

@import 'post';
