.posts-container {
	:first-child {
		margin-top: 0;
	}

    @media screen and (min-width: $tablet) {
        width: 55%;
    }

    @media screen and (max-width: $tablet) {
        order: 2;
    }
}

.archive-heading {
	margin-top: 0;
}

.page-content {
    h4 {
        margin: 0;
        padding: 0;
    }

    &.sidebar {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media screen and (max-width: $tablet) {
            flex-direction: column;
        }
    }
}

@import 'post';
