.mobile-navbar {
	display: none;
	height: 100%;
	padding: 10px 15px;

	@media screen and (max-width: $tablet) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.custom-logo-link {
		width: 60px;

		@media screen and (min-width: $tablet) {
			display: none;
		}

		img {
			display: block;
			width: 50px;
		}
	}

	.menu-toggle {
		padding: 0;
		outline: none;
		font-size: 18px;
		display: none;
		text-transform: uppercase;
		color: #fff;
		border: none;

		@media screen and (max-width: $tablet) {
			display: flex;
		}

		&:hover {
			color: #fff;
		}

		.hamburger-inner {
			background-color: #fff;

			&:before, &:after {
				background-color: #fff;
			}
		}
	}
}
