.main-navigation {
	display: block;
	font-weight: 400;
	clear: left;
	background-color: $color__skin;

	@media screen and (max-width: $mobile) {
		z-index: 100;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	@import 'mobile-navbar'; // .mobile-navbar

	&.toggled {
		.menu {
			display: flex;
		}
	}

	.menu-navigation-container {
		@media screen and (min-width: $mobile) {
			max-width: $page;
			margin: auto;
		}
	}

	.menu {
		padding: 0;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;

		@media screen and (max-width: $mobile) {
			display: none;
			height: calc(100vh - 60px);
			background-color: $color__skin;
			flex-direction: column;
			justify-content: center;
		}

		.menu-item {
			position: relative;

			&.current-menu-item,
			&.current_page_parent {
				background-color: #41CA86;
			}
			&.current-menu-parent {
				@media screen and (min-width: $mobile) {
					background-color: #41CA86;
				}
			}
			&.cta {
				@media screen and (min-width: $mobile) {
					margin-left: 1.5em;
				}
				a {
					border-radius: 5px;
					padding: 0.5em 1.5em;
					text-transform: uppercase;

					@media screen and (min-width: $mobile) {
						background-color: #41CA86;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
					}

					&:hover {
						text-decoration: none;
						opacity: 0.8;
					}
				}
			}
			a {
				font-size: 16px;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-family: $font__open;
				font-weight: bold;
				transition:
					background-color .15s ease-out;
				display: inline-block;
				width: 100%;
				padding: 1.2em 1.5em;
				text-decoration: none;
				color: #fff;

				@media screen and (max-width: $mobile) {
					text-align: center;
					padding: .8em 0;
				}
				&:after {
					content:  ' +';
				}
				&:hover {
					@media screen and (min-width: $mobile) {
						background-color: #41CA86;
					}
				}
				&:only-child {
					&:after {
						content: '';
					}
				}
			}
			.menu-toggle {
				display: none;
			}
			&.menu-item-has-children {
				.sub-menu {
					transform-origin: top;
					transition:
						transform .2s ease, opacity .2s ease;
					margin: 0;
					padding: 0;
					list-style-type: none;
					z-index: 1;
					background-color: $color__skin;
					top: 100%;
					left: 0;

					@media screen and (min-width: $mobile) {
						position: absolute;
						transform: scaleY(0);
						opacity: 0;
					}
					@media screen and (max-width: $mobile) {
						display: none;
					}
				}
				&.toggle {
					.sub-menu {
						display: block;
						transform: scaleY(1);
						opacity: 1;
					}
				}
			}
			&:hover {
				.sub-menu {
					@media screen and (min-width: $mobile) {
						transform: scaleY(1);
						opacity: 1;
					}
				}
			}
		}
	}
	&.stick {
		z-index: 100;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}
